<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eroare</title>
</head>

<body>
    <h1>Eroare!</h1>
    <p>Ceva mi zice ca nu ai pus 6 poze</p>
</body>

</html>