<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>

    <div class="form-container">
        <form action="/" method="POST" class="needs-validation" novalidate enctype="multipart/form-data">
            <div class="form-field mb-3">
                <label class="form-label" for="photo">Add photo 1</label>
                <input class="form-control" type="file" id="photo1" name="p1" value="" required>
                <div class="valid-feedback">
                    Looks Good
                </div>
                <div class="content">
                    <label class="form-label" for="number1">Top: </label>
                    <input name="top" type="number" id="number1">
                    <label class="form-label" for="number11">Left: </label>
                    <input name="left" type="number" id="number11">
                </div>
            </div>
            <div class="form-field mb-3">
                <label class="form-label" for="photo">Add photo 2</label>
                <input class="form-control" type="file" id="photo2" name="p2" value="" required>
                <div class="valid-feedback">
                    Looks Good
                </div>
                <div class="content">
                    <label class="form-label" for="number2">Top: </label>
                    <input name="top" type="number" id="number2">
                    <label class="form-label" for="number22">Left: </label>
                    <input name="left" type="number" id="number22">
                </div>
            </div>
            <div class="form-field mb-3">
                <label class="form-label" for="photo">Add photo 3</label>
                <input class="form-control" type="file" id="photo3" name="p3" value="" required>
                <div class="valid-feedback">
                    Looks Good
                </div>
                <div class="content">
                    <label class="form-label" for="number3">Top: </label>
                    <input name="top" type="number" id="number3">
                    <label class="form-label" for="number33">Left: </label>
                    <input name="left" type="number" id="number33">
                </div>
            </div>
            <div class="form-field mb-3">
                <label class="form-label" for="photo">Add photo 4</label>
                <input class="form-control" type="file" id="photo4" name="p4" value="" required>
                <div class="valid-feedback">
                    Looks Good
                </div>
                <div class="content">
                    <label class="form-label" for="number4">Top: </label>
                    <input name="top" type="number" id="number4">
                    <label class="form-label" for="number44">Left: </label>
                    <input name="left" type="number" id="number44">
                </div>
            </div>
            <div class="form-field mb-3">
                <label class="form-label" for="photo">Add photo 5</label>
                <input class="form-control" type="file" id="photo5" name="p5" value="" required>
                <div class="valid-feedback">
                    Looks Good
                </div>
                <div class="content">
                    <label class="form-label" for="number5">Top: </label>
                    <input name="top" type="number" id="number5">
                    <label class="form-label" for="number55">Left: </label>
                    <input name="left" type="number" id="number55">
                </div>
            </div>
            <div class="form-field mb-3">
                <label class="form-label" for="photo">Add photo 6</label>
                <input class="form-control" type="file" id="photo6" name="p6" value="" required>
                <div class="valid-feedback">
                    Looks Good
                </div>
                <div class="content">
                    <label class="form-label" for="number6">Top: </label>
                    <input name="top" type="number" id="number6">
                    <label class="form-label" for="number66">Left: </label>
                    <input name="left" type="number" id="number66">
                </div>
            </div>
            <div class="form-field mb-3">
                <label class="form-label" for="photo">Size: </label>
                <input name="size" type="number" value="30" id="size">
            </div>
            <button class="btn">Adauga</button>
        </form>
    </div>
    <!-- <div class="img"> -->
    <!-- <div class="prev"></div>
    <div class="prev"></div>
    <div class="prev"></div>
    <div class="prev"></div>
    <div class="prev"></div>
    <div class="prev"></div> -->
    <div class="img">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5qg0W6wYnYPfcA7HD2xOtAXqONpQ_ecJ46hswAT6tAQ&s"
            alt="" class="prev">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5qg0W6wYnYPfcA7HD2xOtAXqONpQ_ecJ46hswAT6tAQ&s"
            alt="" class="prev">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5qg0W6wYnYPfcA7HD2xOtAXqONpQ_ecJ46hswAT6tAQ&s"
            alt="" class="prev">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5qg0W6wYnYPfcA7HD2xOtAXqONpQ_ecJ46hswAT6tAQ&s"
            alt="" class="prev">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5qg0W6wYnYPfcA7HD2xOtAXqONpQ_ecJ46hswAT6tAQ&s"
            alt="" class="prev">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5qg0W6wYnYPfcA7HD2xOtAXqONpQ_ecJ46hswAT6tAQ&s"
            alt="" class="prev">
    </div>
    <!-- <img src="/img/fridge.png" alt=""> -->
    <!-- </div> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
        crossorigin="anonymous"></script>
    <script src="/js/home.js"></script>
</body>

</html>